<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://thecomputerlab.github.io/css/mainpage.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Computer Lab</title>
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?skin=sunburst"></script>
  <script> 
    $(function(){
      $("#header").load("https://thecomputerlab.github.io/templates/header.html"); 
      $("#footer").load("https://thecomputerlab.github.io/templates/footer.html"); 
    });
    </script> 
</head>
<body>
    <div id = "header"></div> <!--this will load code for the header @templates\footer.html -->

               
    </div>
    <div id = "footer">

    </div>
</body>
</html>
