<link rel="stylesheet" href="headerFotter.css">

<div class = "header">
    <h1>The Computer Lab</h1>
    <h4 style = "text-align: center;">by theBlueJay3270 and BOB450</h4>
  </div>
  <div class="navbar">
    <a href="https://thecomputerlab.github.io/">Home</a>
    <a href="https://github.com/TheComputerLab">Github</a>
    <div class="dropdown">
      <button class="dropbtn">Dropdown 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
  </div>