<link rel="stylesheet" href="headerFotter.css">

<div class = "headerClass">
    <h1>The Computer Lab</h1>
    <h4 style = "text-align: center;">by theBlueJay3270 and BOB450</h4>
  </div>
  <div class="navbar">
    <a href="https://thecomputerlab.github.io/">Home</a>
    <a href="https://github.com/TheComputerLab">Github</a>
    <div class="dropdown">
      <button class="dropbtn"> Links 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Our team's itch.io</a>
        <a href="https://bluej3270.itch.io/">bluej3270's itch.io</a>
        <a href="https://bob4500.itch.io/">BOB450's itch.io</a>
      </div>
    </div> 
  </div>